.gt_table_body .gt_center{
    white-space: pre;
	width: 80px;
	}
	
.gt_table_body .gt_left{
    width: 140px;
	}

.shiny-output-error {
	visibility: hidden;
	}

 .shiny-output-error:before {
	 visibility: hidden;
	 }
	 
.gt_sourcenote {
    white-space: pre;
}